.app{
  display: grid;
  place-items:center;
  /* background-color:  #ffddf4;
  background-repeat: repeat; */
  height:100vh;
  /* position:; */
}

.app__body{
  display: flex;

  background-color: #ededed;
  margin-top: -50px;
  height:90vh;
  width:40vw;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 80px;

  /* position: -webkit-sticky;
  position: sticky; */

  /* position: fixed; */
  /* box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75) */
}
.app__productbody{
  display: flex;
  justify-content: space-evenly;
  width:100%;
}
.product{
  flex: 0.85;
}
